absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1658854572623/work
aiohttp @ file:///D:/bld/aiohttp_1649013309284/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1636093929600/work
albumentations==1.2.1
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1640026696943/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1659291887007/work
blinker==1.4
brotlipy @ file:///D:/bld/brotlipy_1648854347500/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1660055382950/work
certifi==2022.6.15
cffi @ file:///D:/bld/cffi_1656782940775/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1655906222726/work
click @ file:///D:/bld/click_1651215332191/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1655412516417/work
cryptography @ file:///D:/bld/cryptography_1657174142266/work
cycler==0.11.0
fonttools==4.35.0
frozenlist @ file:///D:/bld/frozenlist_1659557068784/work
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1659754982120/work
google-auth-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/google-auth-oauthlib_1630497468950/work
grpcio @ file:///D:/bld/grpcio_1639716073684/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1642433548627/work
imageio==2.21.1
importlib-metadata @ file:///D:/bld/importlib-metadata_1653252994979/work
joblib==1.1.0
kiwisolver==1.4.4
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1657921053229/work
MarkupSafe @ file:///D:/bld/markupsafe_1648737731599/work
matplotlib==3.5.3
multidict @ file:///D:/bld/multidict_1648882563599/work
networkx==2.8.5
numpy @ file:///D:/bld/numpy_1657483944523/work
oauthlib @ file:///home/conda/feedstock_root/build_artifacts/oauthlib_1643507977997/work
opencv-python-headless==4.6.0.66
packaging==21.3
pandas==1.4.3
Pillow @ file:///D:/bld/pillow_1660385947107/work
protobuf==3.19.1
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1652398519695/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1643496850550/work
pyparsing==3.0.9
PySocks @ file:///D:/bld/pysocks_1648857426124/work
python-dateutil==2.8.2
pytz==2022.2.1
pyu2f @ file:///home/conda/feedstock_root/build_artifacts/pyu2f_1604248910016/work
PyWavelets==1.3.0
PyYAML==6.0
qudida==0.0.4
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1656534056640/work
requests-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/requests-oauthlib_1643557462909/work
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1658328885051/work
scikit-image==0.19.3
scikit-learn==1.1.2
scipy==1.9.0
seaborn==0.13.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
tensorboard @ file:///home/conda/feedstock_root/build_artifacts/tensorboard_1660188966498/work/tensorboard-2.10.0-py3-none-any.whl
tensorboard-data-server @ file:///D:/bld/tensorboard-data-server_1649932959679/work/tensorboard_data_server-0.6.0-py3-none-any.whl
tensorboard-plugin-wit @ file:///home/conda/feedstock_root/build_artifacts/tensorboard-plugin-wit_1641458951060/work/tensorboard_plugin_wit-1.8.1-py3-none-any.whl
threadpoolctl==3.1.0
tifffile==2022.8.12
torch==1.12.1
torch-summary==1.4.5
torch-tb-profiler==0.4.0
torchaudio==0.12.1
torchvision==0.13.1
tqdm==4.64.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1656706066251/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1658789158161/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1660053523487/work
win-inet-pton @ file:///D:/bld/win_inet_pton_1648771897787/work
wincertstore==0.2
yarl @ file:///D:/bld/yarl_1648966692031/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1659400682470/work
